<!DOCTYPE html>
<html lang="en">
<head><title>Dash</title></head>
<body>

    <h1>Welcome <%=data.name %></h1> 
    <img src=<%=data.dp %> alt="My Image">
    <h1>This is Dash Board</h1>
    <a href="/logout">Logout</a>

    
    
</body>
</html>